.card{
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}
.btn-group .btn.active {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}
.card {
    transition: 0.2s;
    border: 1px solid #dee2e6;
}
.card small {
    color: #6c757d;
}